<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceFolder" value="D:\vm\HomeAssistant\home-assistant" />
    <add key="OutputFolder" value="D:\vm\HomeAssistant\home-assistant\config" />
    <add key="PlatformPrefix:zipato" value="zipabox" />
  </appSettings>
</configuration>
